<div id="alinhaTabela">
  <div class="row">
    <div class="form-group col-lg-5">
      <strong>Especialidade:</strong>
      <input type="text" class="form-control" name="endereco" value="<%= @specialty.name %>" disabled>
    </div>
  </div>
  <%= link_to 'Voltar', specialties_path, class: 'btn btn-primary'%>
</div>
