<div id="alinhaTabela"> <br>

  <h1 id="p"> Escolha o Paciente </h1>

  <%= form_tag("/custom_update", method: "post") do %>

  <div class="form-group">
    <%= collection_select(:paciente, :id, Patient.all, :id, :name, :class => "form-control") %>
  </div>
  <%= submit_tag 'Visualizar Exames', :class => "btn btn-primary btn-lg btn-block" %>
  <% end %>

</div>
