<div id="alinhaTabela">
  <br>
  <div class="form-inline">
    <a href="/escolherPaciente">
      <%= image_tag("/img/exame.png") %>
    </a>
    <h1 style="margin-top: 15px" id="p"> Exames </h1>
  </div> <br>

  <%= render 'formExames', exam: @exam %>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @exame_paciente.each do |exam| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag(exam.exam.url(:medium)) %>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <img class="img-responsive img-rounded" src="/img/lixeira.png" alt="" style="width: 30px; height: 30px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
